<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="crossDomain" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="Izzi.Noc.Services.TemplatesServiceImpl">
				<endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="crossDomain" contract="Izzi.Noc.Services.ITemplatesServices" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<dataContractSerializer maxItemsInObjectGraph="1365536" />
					<webHttp defaultOutgoingResponseFormat="Json" />
				</behavior>
				<behavior name="Izzi.Noc.Services.ConfigInformationServiceAspNetAjaxBehavior">
					<dataContractSerializer maxItemsInObjectGraph="1365536" />
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="1365536" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="">
					<dataContractSerializer maxItemsInObjectGraph="1365536" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
				<add name="Access-Control-Allow-Methods" value="POST,GET" />
				<add name="Access-Control-Max-Age" value="1728000" />
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="hr" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.30.81)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=IntraNoc))) " />
				<dataSource alias="IntraNocWh" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.21.200.74))(CONNECT_DATA=(SERVICE_NAME=IntraNocWh))) " />
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<connectionStrings>
		<add name="SqlServerContext" providerName="System.Data.SqlClient" connectionString="Data Source=172.21.200.74; Initial Catalog=IntraNocWh; User id=sa; Password=N0c*181nN0vc10n;"></add>
		<!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->
		<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=inoc;Password=inoc;Data Source=hr"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>